<footer id="footer" class="sixteen columns" data-hook>
  <div class="container">
    
    <div class="four columns">
      <div class="address">
      <h3>Address</h3>
      33/279, Kottapady, Guruvayoor, </br>
      Thrissur,kerala, India
      </div>
    </div>
    
    <div class="four columns">
    <div class="phone">
        <h3>Phone</h3>  
        <a href="callto:8589043870">+91-8589043870</a>
        </div>
      </div>
    
    <div class="four columns">
    
      <div class="email">
        <h3>Email</h3>  
        <a href="mailto:contact@klairvoyant.com">contact@klairvoyant.com</a>
      </div>
    </div>
    
    <div class="four columns">
    Created & Maintained </br> by <a href="http://www.klairvoyant.in/">Klairvoyant infosolutions</a>
      
    </div>
    
  </div>
</footer>
