<footer id="footer" class="sixteen columns" data-hook>
  <div class="container">
    
    <div class="four columns">
      <div class="address">
      <h3>Address</h3>
      33/279, Kottapady, Guruvayoor, </br>
      Thrissur,kerala, India
      </div>
    </div>
    
    <div class="four columns">
    <div class="phone">
        <h3>Phone</h3>  
        <a href="callto:8589043870">+91-8589043870</a>
    </div>
    <div class="email">
        <h3>Email</h3>  
        <a href="mailto:contact@klairvoyant.com">contact@klairvoyant.com</a>
    </div>
    </div>
    
    <div class="four columns">
    
      <a href="https://www.facebook.com/KlairvoyantJewels"><img src="https://dl.dropboxusercontent.com/u/31497257/facebook.png" alt="Facebook"></a>

      <a href="https://plus.google.com/b/106341730841028825602"><img src="https://dl.dropboxusercontent.com/u/31497257/google.png" alt="Google"></a>

      
    </div>
    
    <div class="four columns">
    Creation & Maintenance </br> <a href="http://www.klairvoyant.in/">Klairvoyant infosolutions</a>
      
    </div>
    
  </div>
</footer>
