<footer id="footer" class="sixteen columns" data-hook>
  <div class="container">
    
    <div class="four columns">
      <div class="address">
      <h3>Address</h3>
      33/279, Kottapady, Guruvayoor, </br>
      Thrissur,kerala, India
      </div>
    </div>
    
    <div class="four columns">
    <div class="phone">
        <h3>Phone</h3>  
        <a href="callto:8589043870">+91-8589043870</a>
    </div>
    <div class="email">
        <h3>Email</h3>  
        <a href="mailto:contact@klairvoyant.com">contact@klairvoyant.com</a>
    </div>
    </div>
    <div id="social" class="four columns">
    <a href="https://www.facebook.com/KlairvoyantJewels"><img src="https://dl.dropboxusercontent.com/u/31497257/facebook.png" alt="Facebook"></a>
      <a href="https://plus.google.com/106341730841028825602/posts"><img src="https://dl.dropboxusercontent.com/u/31497257/google.png" alt="Google"></a>
      <a href="http://www.pinterest.com/JewelsItems/"><img src="https://dl.dropboxusercontent.com/u/31497257/pinterest.png" alt="PinInterest"></a>
      <a href="http://www.youtube.com/playlist?list=PL2-l4wr12O5NqVj1ZTkUPi7_ON7xG106y"><img src="https://dl.dropboxusercontent.com/u/31497257/youtube.jpg" alt="youtube"></a>
      
    </div>
    
    <div class="four columns">
    Creation & Maintenance </br> <a href="http://www.klairvoyant.in/">Klairvoyant infosolutions</a>
      
    </div>
    
  </div>
</footer>
