<footer id="footer" class="sixteen columns" data-hook>
  <div class="container">
    
    <div class="four columns">
      <!--<%= image_tag "store/logo-white.png", :alt => "klairvoyant jewels logo", :id => "footer-logo" %>-->
      <div class="address">
      <h3>Address</h3>
      33/279, Kottapady, Guruvayoor, </br>
      Thrissur,kerala, India
      </div>
      
      
      <!--<div class="phone">-->
      <!--  <a href="callto:8589043870">8589043870</a>-->
      <!--  </div>-->
      <br>
      <!--<div class="email">-->
      <!--  <a href="mailto:contact@klairvoyant.com">contact@klairvoyant.com</a>-->
      <!--</div>-->
      <br>
      <!--<div class="address">-->
      <!--  33/279, Kottapady, Guruvayoor-->
      <!--  <br>-->
      <!--  Thrissur,kerala, India-->
      <!--</div>-->
    </div>
    
    <div class="four columns">
    <div class="phone">
        <a href="callto:8589043870">8589043870</a>
        </div>
      <!--<h5>Our Best Offers</h5>-->
      <!--<ul>-->
      <!--  <li><a href="/products">New Products</a></li>-->
      <!--  <li><a href="/products">Top Sellers</a></li>-->
      <!--  <li><a href="/products">Specials</a></li>-->
      <!--  <li><a href="/products">Manufacturers</a></li>-->
      <!--  <li><a href="/products">Suppliers</a></li>-->
      <!--  <li><a href="/products">Service</a></li>        -->
      <!--</ul>-->
    </div>
    
    <div class="four columns">
    <div class="email">
        <a href="mailto:contact@klairvoyant.com">contact@klairvoyant.com</a>
      </div>
      <!--<h5>Regular Services</h5>-->
      <!--<ul>-->
      <!--  <li><a href="/products">Contact</a></li>-->
      <!--  <li><a href="/products">Shipping Info</a></li>-->
      <!--  <li><a href="/products">Returns</a></li>-->
      <!--  <li><a href="/products">F.A.Q.</a></li>-->
      <!--  <li><a href="/products">Size Chart</a></li>-->
      <!--  <li><a href="/products">Personal Shopper</a></li>-->
      <!--</ul>-->
    </div>
    
    <div class="four columns">
    Created & Maintained by<a href="http://www.klairvoyant.in/">Klairvoyant infosolutions</a>
      <!--<h5>Important info</h5>-->
      <!--<p>-->
      <!--  This website is <strong>NOT</strong> a real store, -->
      <!--  it's a fully working demo application for -->
      <!--  <a href="http://spreecommerce.com" target="_blank">Spree Commerce</a>. -->
      <!--  Please feel free to play around, but don't submit -->
      <!--  any information you would not consider public!-->
      <!--</p>-->
    </div>
    
  </div>
</footer>
